#RaisinBlack {
    color: #1e1e24;
    color: #0c0c18
}
 #Ebony {
    color: #5f6153
 }
 
 #KhakiWeb {
    color: #c4af9a
 }
 
 #GreenSheen {
    color: #81ae9d
 }
 
 #GreenMunsell {
    color: #21a179;
    color: #136148
 }

#MutedRed {
    color: #F4AC90;
    color: #cc6840
}
